<div class="table-responsive" >
    <h4 id="properties-heading">Properties</h4>
    <span>Filter (by prefix)</span> <input type="text" [(ngModel)]="filterText" (ngModelChange)="filter()" class="form-control">

    <table class="table table-striped table-bordered table-responsive d-table table-sm" aria-describedby="spring-configuration">
        <thead>
        <tr>
            <th scope="col" class="w-30"><span>Property</span></th>
            <th scope="col" class="w-70"><span>Value</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prop of props">
            <td><span>{{ prop.key }}</span></td>
            <td><span>{{ prop.value }}</span></td>
        </tr>
        </tbody>
    </table>
</div>
