<div class="table-responsive" >
    <h4 id="properties-heading">Properties</h4>
    <span>Filter (by property name)</span> <input aria-label="filter-text" type="text" [(ngModel)]="filterText" (ngModelChange)="filter()" class="form-control form-control-sm">

    <div style="overflow: auto; max-height: 65vh">
        <table class="table table-striped table-bordered table-responsive d-table table-sm small-font" aria-describedby="agis-props">
            <thead>
            <tr>
                <th scope="col"><span>Property</span></th>
                <th scope="col"><span>Value</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prop of props">
                <td><span>{{ prop.key }}</span></td>
                <td><span>{{ prop.value }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
