<ul ngbNav #calibrationPlotsBottomLevel="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    <li *ngFor="let effectInfo of calibrationEffectInfo; let effectIndex = index;" [ngbNavItem]=effectInfo.name>
        <a ngbNavLink>{{effectInfo.description}}</a>
        <ng-template ngbNavContent>
            <div style="overflow: auto; max-height: 70vh">
                <table class="table table-responsive d-table table-sm smallish-font" aria-describedby="Iteration Table">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center"><span>Iteration</span></th>
                        <th scope="col" class="text-center" *ngFor="let iteration of iterationHeaders"><span>{{iteration.header}}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let functionInfo of effectInfo.functions; let functionIndex = index;">
                        <th scope="row" class="text-center align-middle">
                            <span>{{functionInfo.description}}</span>
                        </th>
                        <td *ngFor="let iterationHeader of iterationHeaders">
                            <div *ngIf="hasPlotReady(effectIndex, functionIndex, iterationHeader.nr)" class="text-center">
                                <img [src]="plotIndexesToPlot[effectIndex][functionIndex].get(iterationHeader.nr)"
                                     [width]="plotWidth" alt="Plot for {{effectInfo.description}} [{{functionInfo.description}}],
                                      iteration {{iterationHeader.nr}}"
                                     style="cursor: pointer"
                                     (click)="loadPlotBig(effectIndex, functionIndex, iterationHeader.nr)">
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="calibrationPlotsBottomLevel" class="mx-0"></div>
