<h4 id="current-plot-heading">Plots for current run: {{currentPlotsUtil.runId}}, latest iteration: {{currentPlotsUtil.currentIter}}, id: {{currentPlotsUtil.iterId}}</h4>
<div class="form-group">
    <label class="col-form-label">Iterations&nbsp;</label>
    <label for="startIter" class="col-form-label">From:&nbsp;</label>
    <input id="startIter" type="number" min="1" max="{{currentPlotsUtil.currentIter}}" [(ngModel)]="startIterForm">
    <label for="endIter" class="col-form-label">To:&nbsp;</label>
    <input id="endIter" type="number" min="1" max="{{currentPlotsUtil.currentIter}}" [(ngModel)]="endIterForm">
    <button class="btn btn-sm btn-primary" type="submit" (click)="refresh()">Go!</button>
    <button class="btn btn-sm btn-primary float-right" (click)="getImagesZipped()">
        <fa-icon icon="download"></fa-icon><span>Get cached plots</span>
    </button>
</div>
<h6><span>Summary Plots </span>
    <span style="cursor: pointer" *ngIf="!summaryShown" (click)="summaryShown = !summaryShown">[Show]</span>
    <span style="cursor: pointer" *ngIf="summaryShown" (click)="summaryShown = !summaryShown">[Hide]</span>
</h6>
<jhi-summary-plots *ngIf="summaryShown"></jhi-summary-plots>
<h6>Convergence histograms
    <span style="cursor: pointer" *ngIf="!convergenceShown" (click)="convergenceShown = !convergenceShown">[Show]</span>
    <span style="cursor: pointer" *ngIf="convergenceShown" (click)="convergenceShown = !convergenceShown">[Hide]</span>
</h6>
<ul [hidden]="!convergenceShown" ngbNav #convergenceHistograms="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    <li *ngFor="let util of nextPlotsUtil" [ngbNavItem]=util.plotCategory.rawEnum>
        <a ngbNavLink>{{util.plotCategory.description}}</a>
        <ng-template ngbNavContent>
            <jhi-source-plots-top-level *ngIf="util.plotCategory.rawEnum === 'SOURCE'" [plotsUtil]="util" [startIteration]="startIter" [endIteration]="endIter"></jhi-source-plots-top-level>
            <jhi-attitude-plots *ngIf="util.plotCategory.rawEnum === 'ATTITUDE'" [plotsUtil]="util" [startIteration]="startIter" [endIteration]="endIter"></jhi-attitude-plots>
            <jhi-calibration-plots-top-level *ngIf="util.plotCategory.rawEnum === 'CALIBRATION'" [plotsUtil]="util" [startIteration]="startIter" [endIteration]="endIter"></jhi-calibration-plots-top-level>
            <jhi-global-plots *ngIf="util.plotCategory.rawEnum === 'GLOBAL'" [plotsUtil]="util"></jhi-global-plots>
        </ng-template>
    </li>
</ul>
<div [hidden]="!convergenceShown" [ngbNavOutlet]="convergenceHistograms" class="mx-0"></div>

