<table class="table table-responsive d-table table-sm smallish-font" aria-describedby="Summary Plots">
    <tr *ngIf="plotSummaryInfo.nrSummaryAstro > 0">
        <th class="align-middle" scope="row">Astrometric parameters</th>
        <td>
            <div *ngIf="hasSummaryAllPlotReady()" class="text-center">
                <img [src]="summaryPlotAll"
                     [width]="plotWidth" alt="Plot for astrometric summary for all"
                     style="cursor: pointer"
                     (click)="loadSummaryAllPlotBig()">
            </div>
            <div>
                <span class="fake-href" (click)="exportSummaryAll()">Export to CSV</span>
            </div>
        </td>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSummaryAstro)">
            <div *ngIf="hasSummaryPlotReady(i)" class="text-center">
                <img [src]="summaryPlot.get(i)"
                     [width]="plotWidth" alt="Plot for astrometric summary for {{i}}"
                     style="cursor: pointer"
                     (click)="loadSummaryPlotBig(i)">
            </div>
            <div>
                <span class="fake-href" (click)="exportSummary(i)">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSummaryAtt > 0">
        <th class="align-middle" scope="row">Attitude parameters</th>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSummaryAtt)">
            <div *ngIf="hasAttPlotReady(i)" class="text-center">
                <img [src]="attPlot.get(i)"
                     [width]="plotWidth" alt="Plot for Attitude parameter {{i}}"
                     style="cursor: pointer"
                     (click)="loadAttPlotBig(i)">
            </div>
            <div>
                <span class="fake-href" (click)="exportAtt(i)">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSummaryCal > 0">
        <th class="align-middle" scope="row">Calibration parameters</th>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSummaryCal)">
            <div *ngIf="hasCalPlotReady(i)" class="text-center">
                <img [src]="calPlot.get(i)"
                     [width]="plotWidth" alt="Plot for Calibration parameters {{i}}"
                     style="cursor: pointer"
                     (click)="loadCalPlotBig(i)">
            </div>
            <div>
                <span class="fake-href" (click)="exportCal(i)">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSummaryRot > 0">
        <th class="align-middle" scope="row">Reference frame rotation parameters</th>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSummaryRot)">
            <div *ngIf="hasRefPlotReady(i)" class="text-center">
                <img [src]="refPlot.get(i)"
                     [width]="plotWidth" alt="Plot for reference frame {{i}}"
                     style="cursor: pointer"
                     (click)="loadRefPlotBig(i)">
            </div>
            <div>
                <span class="fake-href" (click)="exportRef(i)">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSummaryCg > 0">
        <th class="align-middle" scope="row">Solution method scalars</th>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSummaryCg)">
            <div *ngIf="hasCGPlotReady(i)" class="text-center">
                <img [src]="cgPlot.get(i)"
                     [width]="plotWidth" alt="Plot for CG {{i}}"
                     style="cursor: pointer"
                     (click)="loadCGPlotBig(i)">
            </div>
            <div>
                <span class="fake-href" (click)="exportCG(i)">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSummaryAux > 0">
        <th class="align-middle" scope="row">Auxiliary Parameters</th>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSummaryAux)">
            <div *ngIf="hasAuxPlotReady(i)" class="text-center">
                <img [src]="auxPlot.get(i)"
                     [width]="plotWidth" alt="Plot for Auxiliary {{i}}"
                     style="cursor: pointer"
                     (click)="loadAuxPlotBig(i)">
            </div>
            <div>
                <span class="fake-href" (click)="exportAux(i)">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSummaryRes > 0">
        <th class="align-middle" scope="row">Residual Parameters</th>
        <td>
            <div *ngIf="hasResPlotReady()" class="text-center">
                <img [src]="resPlot"
                     [width]="plotWidth" alt="Plot for residual parameters"
                     style="cursor: pointer"
                     (click)="loadResPlotBig()">
            </div>
            <div>
                <span class="fake-href" (click)="exportRes()">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSummaryCorr > 0">
        <th class="align-middle" scope="row">Correlation Parameters</th>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSummaryCorr)">
            <div *ngIf="hasCorrPlotReady(i)" class="text-center">
                <img [src]="corrPlot.get(i)"
                     [width]="plotWidth" alt="Plot for Correlation {{i}}"
                     style="cursor: pointer"
                     (click)="loadCorrPlotBig(i)">
            </div>
            <div>
                <span class="fake-href" (click)="exportCorr(i)">Export to CSV</span>
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.nrSrcDist > 0">
        <th class="align-middle" scope="row">Source Parameter Distribution (at iter {{(plotSummaryInfo.currentPlotsUtil.currentIter - 1)}})</th>
        <td *ngFor="let i of counter(plotSummaryInfo.nrSrcDist)">
            <div *ngIf="hasSrcDistPlotReady(i)" class="text-center">
                <img [src]="srcDistPlot.get(i)"
                     [width]="plotWidth" alt="Source distribution plot for {{i}}"
                     style="cursor: pointer"
                     (click)="loadSrcDistPlotBig(i)">
            </div>
        </td>
    </tr>
    <tr *ngIf="plotSummaryInfo.currentPlotsUtil.plotCategory.children.length > 0">
        <th class="align-middle" scope="row">Source maps (at iter {{(plotSummaryInfo.currentPlotsUtil.currentIter - 1)}})</th>
        <td *ngFor="let plotCat of plotSummaryInfo.currentPlotsUtil.plotCategory.children">
            <div>
                <span class="fake-href" (click)="loadSourceMap(plotCat)">Open {{plotCat.description}} map</span>
            </div>
        </td>
    </tr>
</table>
